[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "gcc", "libffi", "openssl"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn app.api.server:app --host 0.0.0.0 --port $PORT"